@import 'variables.scss';

.btn-main{
    color: white;
    background-color: $main-color;
    transition: all 0.5s ease;
    &:hover{
        background-color: #6284c7;
    }
}
.btn{
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-green{
    color: white;
    background-color: #3fd2b8;
}